// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$r21-col-primary: #630a10;
$r21-col-secondary: #fcf0c8;
$r21-col-accent: #910f17;
$r21-col-error: #919f17;
$r21-col-info: #fcf0c8;
$r21-col-success: #350509;
$r21-col-warning: #f9e398;

// global stylings
.container {
  padding: 0;
  margin: 0;
}

// Make sure the div doesn't grow over the svg.
.tile {
  position: absolute;
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
}

.train {
  position: absolute;
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
}
